.welcome_sec h2:before {
    content: '';
    width: 4px;
    height: 100%;
    background: #12a0b1;
    position: absolute;
    letter-spacing: 1px;
    right: -16px;
    top: 4px;
}

.border-1 {
    border-width: 1px;
  }

.welcome_details h3:before {
    content: '';
    width: 45px;
    height: 3px;
    background: #f6ba18;
    position: absolute;
    top: 70px;
}

.we_are_opacity {
    background: rgba(47, 45, 55, 0.2);
}

.business_opacity{
    background: rgba(23, 29, 38, 0.5);
}

.business_opacity2{
    background: rgba(0, 0, 0, 0.45);
}

.we_are_since {
    font-size: 1.625em;
    letter-spacing: .03em;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
  /* Style the tab content */
  .tabcontent {
    display: none;
     
}

.tabcontent.block{
    display: block;
}

.tablinks {
    border: 1px solid;
    border-color: #e9e9e9;
}

  .tablinks.active {
    color: white;
    background-color: #12a0b1;
    background-image: url('../img/arrow-up.png');
    background-repeat: no-repeat;
    background-position: bottom;
    border-color: transparent;
}

  .tablinks:hover {
    background-color: #eeeeee;
}

.tablinks.active:hover {
    background-color: #12a0b1;
}


.tabcontent{
    opacity: 0;
    transition-duration: .15s;
    transition-property: opacity;
}

.tabcontent.fade{
    opacity: 1;
}


.nav_link {
    border-right: 1px dashed rgba(255, 255, 255, 0.4);
}
  

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
}


.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

.btn-1b:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgb(67, 194, 84);
}

.btn-1b:hover:after, .btn-1b:active:after {
    height: 100%;
}
